<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">

    <select id="selectAll" resultType="Member">
    SELECT * FROM ${tblMember}
    </select>

    <select id="selectById" resultType="Member">
    SELECT * FROM ${tblMember}
    WHERE ${colUserid} = #{userid}
    </select>
    
    <insert id="insert">
    INSERT INTO ${tblMember}(${colUserid}, ${colPassword}, ${colEmail}, regdate)
    VALUES (#{userid}, #{password}, #{email}, sysdate)
    </insert>
    
    
    <update id="update">
    UPDATE ${tblMember}
    SET ${colPassword} = #{password}, ${colEmail} = #{email}
    WHERE ${colUserid} = #{userid}
    </update>
    
    <delete id="delete">
    DELETE FROM ${tblMember}
    WHERE ${colUserid} = #{userid}
    </delete>

    <select id="login_Member" resultType="Member">
        SELECT * FROM ${tblMember} where ${colUserid} = #{userid} AND ${colPassword} = #{password}
    </select>

    <update id="addOnePostNum">
        UPDATE ${tblMember} set postnum = postnum + 1 WHERE ${colUserid} = #{userid}
    </update>

</mapper>
